body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checkbox {
  margin-block-end: 3px;
  display: inline-block;
  margin-right: 10%;
  color: white;
  margin-left: 10%;
}

.checkbox1 {
  width: 20px;
  height: 20px;
}

.titulo {
  padding-right: 4%;
  display: inline-block;
}

.descripcion {
  padding-right: 15%;
  display: inline-block;
}

.titulo1 {
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.descripcion1 {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 300%;
}

.boton {
  background: #111;
  color: white;
  width: 400%;
  height: 40px;
}

.boton1 {
  display: inline-block;
}

.notas {
  width: 40%;
  display: inline-block;
  margin: 3%;
  margin-bottom: 20px;
}

.normal {
  background-color: #FFFFCC;
  height: 300px;
}

.importante {
  background-color: #ec7063;
  height: 300px;
}

.contenido {
  padding: 2%;
  height: 100%;
}

.card-text {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
}

.rotate-0-5 {
  transform: rotate(0.5deg)
}
.rotate-1 {
  transform: rotate(1deg)
}
.rotate-1-5 {
  transform: rotate(1.5deg)
}
.rotate-2 {
  transform: rotate(2deg)
}
.rotate-2-5 {
  transform: rotate(2.5deg)
}
.rotate-3 {
  transform: rotate(3deg)
}

.rotateN-0-5 {
  transform: rotate(-0.5deg)
}
.rotateN-1 {
  transform: rotate(-1deg)
}
.rotateN-1-5 {
  transform: rotate(-1.5deg)
}
.rotateN-2 {
  transform: rotate(-2deg)
}
.rotateN-2-5 {
  transform: rotate(-2.5deg)
}
.rotateN-3 {
  transform: rotate(-3deg)
}

@media (max-width:700px) {
  .notas {
    display: block;
  }
}